body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(to bottom, #7c9eb4, #11151a);
}

.cabeça {
    width: 100%;
    padding-top: 80px;
}

header {
    text-align: center;
    margin-top: 0 auto;
    width: 100%;
    background-color: #2c3e50;
    position: fixed;
    top: 0;
    border-radius: 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-in-out;
}

.perfil-img {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    object-fit: cover;
    padding: 0 auto;
    max-width: 100%;
}

h1{
    font-size: 30px;
    font-weight: bold; 
    color: #fff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    margin: 5px 0;
}

h2{
    margin: 5px 0;
    font-size: 25px; 
    font-weight: bold; 
    color: #fff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.socialIcons {
    position: fixed;
    top: 10px;
    right: 10px;
}

.socialIcons a {
    margin-right: 20px;
    text-decoration: none;
}

.socialIcons img {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out; 
}

.socialIcons img:hover {
    transform: scale(1.2);
}

.socialIcons i {
    color: #fff; 
    transition: transform 0.3s ease-in-out;
    font-size: 20px;
    margin-right: 10px;
}

.socialIcons i:hover {
    transform: scale(1.2);
}

.animated-download-button {
    margin-bottom: 15px auto;
    border: 1px solid #ddd;
    padding: 15px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 2%;
    left: 43% auto;
    align-items: center;
}

.animated-download-button:hover {
    background-color: #1d4158;
    transform: scale(1.1);
}

.box {
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-shadow: 0 0 10px rba(0, 0, 0, 0.2);
    max-width: 500px;
    color: #333;
    position: fixed;
    bottom: 12%;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
}

.box h1 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.box p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #ddd;
    font-weight: bold;
}

.box:hover {
    transform: scale(1.05);
}

.text-resumo {
    font-size: 20px;
    font-weight: bold;
    bottom: 20px;
    position: fixed;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.animated-download-button {
    animation: blink 2s infinite; /* 2s de duração, repetição infinita */
}

.animated-download-button:hover {
    animation: none; /* Remove a animação quando o mouse estiver sobre o botão */
}


@media only screen and (max-width: 600px) {
    body {
        font-size: 24px;
    }
    
    .box {
        right: 5% auto;
        left: 5% auto;
        bottom: 20%;
        padding: 5px;
    }

    .box h1{
        font-size: 15px;
    }

    .box p {
        font-size: 12px;
    }

    .perfil-img {
        height: 100px auto;
        width: 100px;
    }

    .animated-download-button {
        font-size: 12px;
        bottom: 5%;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    .socialIcons {
        width: 20px;
        font-size: 30px;
    }

    .photo {
        width: 90%;
    }
}

@media only screen and (max-height: 600px) {
    .box {
        bottom: 15%;
        height: auto;
        width: auto;
    }

    .box h1 {
        font-size: 15px;
    }

    .box p {
        font-size: 13px;
    }

    .animated-download-button {
        bottom: 8% auto;
    }

    .photo {
        width: 90%;
    }


}